* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #090a20;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 350px;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-weight: 300;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background: #4facfe;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#toggle-text {
    margin-top: 15px;
    font-size: 0.8rem;
    color: #ccc;
}

#toggle-link {
    color: #00f2fe;
    cursor: pointer;
    font-weight: bold;
}
