* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #090a20;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Fon Animatsiyasi */
.circles div {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    z-index: 0;
}
.circle1 {
    width: 300px;
    height: 300px;
    background: #4facfe;
    top: -50px;
    left: -50px;
    animation: move 10s infinite alternate;
}
.circle2 {
    width: 400px;
    height: 400px;
    background: #00f2fe;
    bottom: -100px;
    right: -100px;
    animation: move 15s infinite alternate-reverse;
}

@keyframes move {
    from { transform: translate(0, 0); }
    to { transform: translate(100px, 100px); }
}

.container {
    z-index: 10;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 40px;
    text-align: center;
    color: white;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.logo {
    font-size: 2.5rem;
    letter-spacing: 5px;
    margin-bottom: 30px;
    font-weight: 700;
}

h3 { margin-bottom: 20px; font-weight: 300; }

input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    transition: 0.3s;
}

input:focus { background: rgba(255, 255, 255, 0.2); }

.main-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(90deg, #00f2fe, #4facfe);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.main-btn:hover { transform: scale(1.03); opacity: 0.9; }

.toggle-text {
    margin-top: 20px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
}

.toggle-text span {
    color: #00f2fe;
    cursor: pointer;
    font-weight: bold;
}
