* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #0f0c29; /* To'q fon */
    background: linear-gradient(135deg, #24243e, #302b63, #0f0c29);
}

.container {
    z-index: 1;
}

.glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 50px 40px;
    text-align: center;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    width: 350px;
}

.logo {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 200;
    letter-spacing: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.subtitle {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    margin-bottom: 40px;
}

.google-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background: #fff;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.google-btn:hover {
    background: #f1f1f1;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.google-btn i {
    color: #4285F4; /* Google brend rangi */
    font-size: 1.2rem;
}
